body {
    background-color: #ca6;
}
table {
    font-family: verdana;
    color: #345;
    font-size: 9pt;
}
td#tdWelcome {
    text-align: left;
}
td#tdLinks {
    text-align: right;
    float: right;
}
td#tdGame {
    text-align: center;
}
tr#trColorPicker td{
    border-radius:50px;
}
div#divAnimate {
    display: none;
    position: absolute;
    border: outset 3px #f1f1f1;
    border-radius:50px;
    filter: shadow;
}
div.link {
    font-size: 10pt;
    color: #555555;
    border: solid 1px silver;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    background-color: #f1f1f1;
    margin: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}
div.link:hover {
    color: blue;
    border-style: outset;
}
div.popup {
    right: 5px;
    z-index: 100;
    position: absolute;
    background-color: #dddddd;
    display: none;
    border: outset 3px;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
}
td.selectedColor {
    height: 60px;
    width: 60px;
    border: inset 1px silver;
}
td.picker {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: solid 2px silver;
    border: outset 3px;
}
td.guess {
	height: 44px;
    width: 40px;
    border: inset 2px silver;
    font-size: 1pt;
    border-radius:40px;
    background-color:#000;
}
td.guess.hasColor{
    border-color:#ca6;
    border-style:outset;
}
td.guess.editing {
    background-color:#997;
}
table#markTable {
    width: 50px;    
}
td.mark {
	height:20px;
    border: outset 2px #ca6;
    font-size: 1pt;
    border-radius: 20px;
}
span.spnArrow{
    font-family:"Arial Black";
    font-weight: bold;
    color: darkblue;
    display: none;
}
button.btnMark {
    border: solid 1px silver;
    color: dimgray;
    font-family: tahoma;
    font-size: 8pt;
    font-weight: bold;
    visibility: hidden;
    border-radius: 5px;
}
button.btnMark:hover{
    border-style: outset;
    color: blue;
}