* {
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    background-color: #fefefe;
    font-family: verdana;
    color: #345;
    font-size: 9pt;
}

#guessTable {
    min-width: 350px;
}

#divMaster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#divWelcome {
    text-align: left;
}

#divGame {
    text-align: center;
}

#divLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto;
}

#divAnimate {
    display: none;
    position: absolute;
}

.link {
    color: #555555;
    border: solid 1px silver;
    border-radius: 5px;
    padding: 0.45em;
    max-height: 20px;
    margin: 0.2em;
    background-color: #f1f1f1;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    color: blue;
    border-style: outset;
}

.popup {
    right: 5px;
    z-index: 100;
    position: absolute;
    background-color: #dddddd;
    display: none;
    border: outset 3px;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
}

.divOptions p {
    text-align: left;
    margin-bottom: 15px;
}

.selectedColor {
    height: 60px;
    width: 60px;
    border: inset 1px silver;
}

.picker {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.guess {
    height: 50px;
    width: 50px;
    font-size: 1pt;
}

.guess.editing {
    background-color: #ddd;
    border-radius: 10px;
}

#markTable {
    width: 50px;
    margin-left: 30px;
}

.mark {
    height: 20px;
    border: outset 1px;
    font-size: 1pt;
    border-radius: 50px;
    border-color: #bbb;
    background-color: #ddd;
}

.spnArrow {
    font-family: 'Arial Black';
    font-weight: bold;
    color: darkblue;
    display: none;
}

.btnMark {
    border: solid 1px silver;
    color: dimgray;
    font-family: tahoma;
    font-size: 8pt;
    font-weight: bold;
    visibility: hidden;
    border-radius: 5px;
}

.btnMark:hover {
    border-style: outset;
    color: blue;
}